:root {
	--border-color: red;
}

body{
	font-family: 'Press Start 2P', cursive;
	background-color: black;
	color: white;
	text-align: center;
}

h1 {
	color: var(--border-color);
}

canvas{
	background-color: black;
}

#parent {
	border: 5px solid var(--border-color);
	width: 40%; 
	height: 50vh;
	margin: 0 auto; 
	overflow: hidden
}

#selectorFlex {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.selector {
	border: 3px solid var(--border-color);
	padding: 20px;
	display: inline;
}

.selector > label {
	font-size: 1.5em;
	color: var(--border-color);
}

.selector > select {
	font-size: 1.5em;
}

.selector > input {
	color: var(--border-color);
}